.notFound{
    max-width: 1440px;
    margin: auto;
    max-height: 374px;
    background: #F5F6F7;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.notFound__disable{
    display: none;
}

.notFound__title{
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #1A1B22;
    margin: auto;
    margin-top: 32px;
}

.notFound__description{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #B6BCBF;
    margin-top: 16px;
    margin-bottom: 80px;
}

.notFound__image{
    width: 96px;
    height: 94px;
    margin: auto;
    margin-top: 86px;
}